.image {
    height: 97vh;
    background-image: url( '../Images/homebg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 20px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
}

.overlay {
    position: absolute;
    bottom: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 97vh;
    opacity: 1;
    margin: 0 auto;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.bo {
    top: 30%;
    margin: auto;
    position: absolute;
    width: auto;
    height: fit-content;
    color: rgb(105, 105, 241);
    z-index: 1;
}

.text {
    font-size: 90px;
    color: white;
}
.typed {
    font-size: 35px;
    color: white;
    font-weight: bold;
}

.arrowDown {
    animation: MoveUpDown 1s linear infinite;
    left: 0;
    bottom: 2%;
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0;
    margin: auto;
    color: rgb(105, 105, 241);
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }
}